<div class="">
  Всем привет. Это сайт, посвящённый таинственной матчасти от мира феминизма, но без розовых очков по этому поводу. Когда-то, заинтересовавшись этой темой, я был вынужден перелопатить тонны материала, причём как русскоязычные сообщества, так и зарубежные сайты. Если вы захотите самостоятельно погрузиться в этот чудесный мир современного движения за права, то я крайне рекомендую начинать сразу с западного феминизма – во-первых, в России на данный момент это на 95% калька, а во-вторых, на западе с феминизмом считаются все – от правительств до корпораций.
  <br />
  Я постарался написать небольшое по объёму введение в современный феминизм, с его предпосылками и реалиями, такое, какое позволило бы после его прочтения ориентироваться в современной риторике феминизма и основных постулатах.
  Надеюсь, это будет полезно!
</div>
